.main-content{
    display: flex;
   
    
    .content-left{
         border-right: 1px solid rgb(245, 240, 240);
       
 
}
.content-right{
    
    
   
   
   
}

}
.container-fluid{
    padding: 0 !important;
}

